# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Build directories
build/
bin/

# IDE-specific files and directories
.vscode/
.idea/
*.sln
*.vcxproj
*.xcodeproj
.cache/

# Dependency directories
vendor/

# Python bs

__pycache__
*.py[cod]
*$py.class
